@font-face {
    font-family: Bebas Neue;
    src: url(./fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: Lets Coffee;
    src: url(./fonts/Lets\ Coffee.ttf);
}

@font-face {
    font-family: Point Panther;
    src: url(./fonts/PointPanther\ DEMO.otf);
}

@font-face {
    font-family: Letters For Learners;
    src: url(./fonts/Letters\ for\ Learners.ttf);
}

@font-face {
    font-family: Waffle Story;
    src: url(./fonts/Waffle\ Story.ttf);
}

@font-face {
    font-family: Maria Lucia;
    src: url(./fonts/Maria_lucia.ttf);
}