body{
    background-color: #655;
    margin: 0 100px;
}

h1{
    font-family: Bebas Neue;
    text-align: center;
    
}

h2{
    font-size: medium;
    font-family: Lets Coffee;
    display: inline-flex;
    padding: 50px 50px;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}


.linguagens{
    padding-top: 30%;
    display: inline-flex;
    font-family: Bebas Neue;
}

.linguagens p{

}

.wall img{
    position: absolute;
}

.wall h2{
    position: relative;
    font-family: Maria Lucia;
    padding-left: 60%;
    
    
}

.wall p{
    position: relative;
    font-family: Letters For Learners;
    padding-left: 60%;
}



.js img{  
  width: 120px;
  height: 120px;    
}


.python img{
    width: 120px;
    height: 120px;    
  }

.ruby img{
    width: 120px;
    height: 120px;
}

.cmoremore img{
    width: 120px;
    height: 120px;
}

.csharp img{
    width: 120px;
    width: 120px;
}

.c img{
    width: 120px;
    height: 120px;
}

.Java img{
    width: 120px;
    height: 120px;
}