@media screen 
    
    and (min-device-width: 300px)
    and (max-device-width: 700px) {}
    header h2{
        font-size: smaller;
    }

    .wall img{
        padding-top: 60px;
        min-width: 400px;
        max-width: 650px;
         
    }
    
    .wall{
        font-size: larger;
    }