.main{
  background-image: url(./bg.png);
  background-repeat: repeat-y repeat-x;
  background-size: 30%;
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  
}

.container{
  background-image: url(container_bg.png);
  background-color:  #FFFAFA;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 95vh;
  position: relative;
}

.title {
  padding-left: 2rem;
  width: 70%;
  height: 10vh;
  background-color: #FFFAFA;
  margin-left: auto;
  margin-right: auto;
}

.title h2{
  color:  #8a8989;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.searchBar{
  position: relative;
  width: 100%;
  height: 25vh;
  background-color: #272727;
}

.searchBar h2, input{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.searchBar h2{
  top: 2rem;
  margin-left: 14rem;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #FFFAFA;
}

.searchBar input{
  position: absolute;
  border: 3px solid  #8a8989;
  border-radius: 3%;
  margin-left: 14rem;
  height: 2.8rem;
  width: 20rem;
}

.searchBar button {
  border: none;
  border-radius: 5px;
  background-color: #f77109;
  position: relative;
  width: 3rem;
  height: 3rem;
  top: 6rem;
  left: 35rem;
  cursor: pointer;
  
}

.searchBar button:hover{
  border: none;
  background-color: #bf2908;
  transition: 0.5s;
}

.lupa {
  width: 28px;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.grayBar{
  background-color: #636262;
  width: 100%;
  height: 5vh;
}

.pokedexBG{
  display: grid;
  width: 70%;
  height: 60vh;
  background-color: #FFFAFA;
  margin-left: auto;
  margin-right: auto; 
}



.CardPoke{
  margin-left: 5vh;
  margin-top: 5vh;
  position: relative;
  height: 350px;
  width: 250px;
  font-size: 30px;
  color: #272727;
  font-family: inherit;
}


.CardPoke p{
  margin-left: 5px;
  font: inherit;
  position: relative;
}

.sPokeNumber p{
  margin-left: 10px;
  font-size: 15px;
  color: #636262;
  font-weight: bold; 
}

.PokeName p{
  margin-left: 10px;
  font-weight: bold; 
}

.sPokeImg {
  background-color: #DCDCDC;
  height: 250px;
  width: 250px;
}

.sPokeTypes span{
  height: 30px;
  text-align: center;
  font-size: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 5px;  
  display: inline-flexbox;
  margin-left: 10px;
}

.type-fire{
  
  background-color: #bf7008;
}

.type-normal{
  background-color: gray;
}

.type-poison{
  color: whitesmoke;
  background-color:rgb(140, 48, 168);
}

.type-grass{
  color: black;
  background-color:lightgreen;
}

.type-flying{
  color: black;
  background:linear-gradient( #059cd8, #6e7274);
}

.type-water{
  color: white;
  background-color: #2d5a9c;
}

.type-bug{
  color: white;
  background-color: #64a13b;
}

.type-ground{
  background:linear-gradient(#cad805, #444546);
}

.type-electric{
  background-color: #ece906;
}

.type-fairy{
  background-color: #ec94d6;
}

.type-fighting{
  color: white;
  background-color: #da6708;
}

.type-psychic{
  color: white;
  background-color: #be1293;
}

.type-dark{
  color: white;
  background-color: #6e7274;
}

.type-dragon{
  color: white;
  background:linear-gradient(#059cd8, #d88304)
}

.type-ghost{
  color: white;
  background-color: #533869;
}

.type-ice{
  background-color: #3497d8;
}

.type-stell{
  background-color: #5c6a79;
}