.main{
  background-image: url(./bg.png);
  background-repeat: repeat-y repeat-x;
  background-size: 30%;
  display: block;
  width: 100vw;
  height: 100vh;
  position: absolute;
  
}

.container{
  background-image: url(container_bg.png);
  background-color:  #FFFAFA;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 95vh;
  position: relative;
}

.title {
  padding-left: 2rem;
  width: 70%;
  height: 10vh;
  background-color: #FFFAFA;
  margin-left: auto;
  margin-right: auto;
}

.title h2{
  color:  #8a8989;
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.searchBar{
  position: absolute;
  width: 100%;
  height: 25vh;
  background-color: #272727;
}

.searchBar h2, input{
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.searchBar h2{
  top: 2rem;
  margin-left: 14rem;
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;
  color: #FFFAFA;
}

.searchBar input{
  position: absolute;
  border: 3px solid  #8a8989;
  border-radius: 3%;
  margin-left: 14rem;
  height: 2.8rem;
  width: 15rem;
}

.searchBar button {
  border: none;
  border-radius: 5px;
  background-color: #f77109;
  position: relative;
  width: 3rem;
  height: 3rem;
  top: 6rem;
  left: 32rem;
  cursor: pointer;
  
}

.searchBar button:hover{
  border: none;
  background-color: #bf2908;
  transition: 0.5s;
}

.lupa {
  width: 28px;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

.grayBar{
  background-color: #636262;
  width: 100%;
  height: 5vh;
  margin-top: 15vh;
}

.pokedexBG{
  width: 70%;
  /*height: 70vh;*/
  background-color: #FFFAFA;
  margin-left: auto;
  margin-right: auto;
}